@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a SACS</h1>
</div>
<div class="container col-lg-4 py-2 shadow col-md-6 col-sm-9 mt-3"
     style="background: rgb(102,173,199);
        background: linear-gradient(0deg, rgb(150, 221, 247) 0%, rgb(179, 179, 255) 100%);">

    <h3 class="text-center">Formulario</h3>

    <form class="Rut" asp-controller="Recetas" asp-action="IndexPaciente">
        <div class="form-group mb-3">
            <label class="form-label">Rut:</label>
            <input type="text" class="form-control" name="RutPaciente" id="RutPaciente" placeholder="Ingrese su Rut (sin puntos y con guión)">
        </div>
        <div class="form-group d-grid gap-2">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>

    <label>¿No tienes cuenta? <a class="link" asp-controller="Usuario" asp-action="Create"> Registrarse </a> </label>


    <a class="nav-link text-white btn btn-primary my-2 p-3 d-flex" asp-area="" asp-controller="Recetas" asp-action="Index">Ingreso médico receta</a>

    <a class="nav-link text-white btn btn-primary my-2 p-3 d-flex" asp-area="" asp-controller="Pacientes" asp-action="Create">Ingreso secretaria</a>

    <a class="nav-link text-white btn btn-primary my-2 p-3 d-flex" asp-area="" asp-controller="Pacientes" asp-action="Index">Ingreso médico atencion</a>

</div>